body {
  margin-left: 10%;
   margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: auto;
  height: 300px;
}

.topnav {
  overflow: hidden;
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf   100%);
}


.menu:hover ul {
  height: auto;
}
.topnav a {
  
  height:30px;
  margin-left: 20px;
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
  font-size: 15px;
  width: 100px;
  margin-top: 8px;
 
}

.topnav a:hover {
  color:white;
  height: 40px;
  text-align: center;
  margin-top: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  -ms-transition: background .55s ease;
  -o-transition: background .55s ease;
  transition: background .55s ease;
}

.topnav  {
  background-color: black;
  color: white;
  height: 70px;
  text-align: center;
  width:100%;
  
}

.topnav .login {
  float: right;
  height:30px;
}

.topnav input[type=text] {
  padding: 7px;
  margin-top: 8px;
  font-size: 15px;
  border: none;
  width:120px;
  height:30px;
  margin-top: 30px;
}

.topnav .login button {
  float: right;
  /*padding: 6px 10px;*/
  margin-top: 8px;
  margin-right: 20px;
  background-color:#2376ae;
  color: white;
  font-size: 15px;
  border: none;
  cursor: pointer;
  margin-top: -5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 90px;
  height:30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  -ms-transition: background .55s ease;
  -o-transition: background .55s ease;
  transition: background .55s ease;
}

.topnav .login button:hover {
  background-color:none;
  height:30px;
}
@media (min-width: 768px){

  html{
    font-size: 62.5%;
  }
}

@media (max-width: 767px){

  html{
    font-size: 50%;
  }
}
@media screen and (max-width: 100%) {
  .topnav .login {
    float: none;
  }
  .topnav a, .topnav, .topnav .login button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
    height:30px;
  }
  .topnav  {
    border: 1px solid RGB(181,181,110);
    height:30px;
  }
}
.container .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: white;
}
/*Start search*/
  .container{
    padding: 0px;
    float: left;
    margin-right: 10px;
    width: 220px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    margin-top: 0px;
  }
  .container input.search{
    width: 300px;
    height: 50px;
    background: #555;
    border: none;
    font-size: 15px;
    float: left;
    color: #262626;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  .container input.search::-webkit-input-placeholder {
    color:black;
 }
  
 .container input.search:-moz-placeholder { /* Firefox 18- */
    color: #333;  
 }
  
 .container input.search::-moz-placeholder {  /* Firefox 19+ */
    color: #333;  
 }
  
 .container input.search:-ms-input-placeholder {  
    color: #333;  
 }
 .container .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: black;
  height:10px;
}
.container input.search:hover, .container input.search:focus, .container input.search:active{
  outline:none;
  background: #ffffff;
}
.container input.search{
  width: 400px;
  height: 35px;
  background:rgb(204, 204, 204);
  border: none;
  font-size: 15px;
  float: left;
  color: #262626;
  margin-top: 15px;
  padding-left: 45px;
  margin-left:150px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
 
   
  -webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  -ms-transition: background .55s ease;
  -o-transition: background .55s ease;
  transition: background .55s ease;
 }
  /*End search*/
  /*Start menu2*/
 .logo
 {
   background-color: rgb(224,224,224);
   height:45px;
   margin-left:0px;
   margin-top:0px;
   width: 150px;
   padding-bottom: 10px;
   padding-top:10px;
;
 }
 
 ul {
   
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-family: arial;
  
 }
 li{
   margin-top: 1px;
 }
 ul li {
  float: right;
  width: 110px;
  /*height: 70px;*/
  line-height: 65px;
  text-align: center;
  font-size: 20px;
  margin-right: 20px;
  margin-top: 0px;
 }
 
 ul li a {
  text-decoration: none;
  color: black;
  display: block;
  -webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  -ms-transition: background .55s ease;
  -o-transition: background .55s ease;
  transition: background .55s ease;
 }
 
 ul li a{
  text-decoration: none;
  color:black;
 /* -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  */
  -webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  -ms-transition: background .55s ease;
  -o-transition: background .55s ease;
  transition: background .55s ease;
 }
 
 ul li ul li{
  display: none;
  
 }
 
 ul li:hover ul li {
  display: block;
  
 }
 .topnav2
 {
  width:100%;
  margin-left: 0px;
  text-decoration: none;
  margin-top: 0px;
  height: 70px;
  background-color:rgb(224,224,224);
 }
 

 /*End menu2*/
 /*Run picture*/
 
/*
* The function calc is working wrong in case calculations in the Firefox
*/

.photobox{
  display: inline-block;
  width: 100%;
}

.photobox__previewbox{
  position: relative;
  overflow: hidden;

}

.photobox__preview{
  display: block;
  width:100%;
  height:700px;
  
}

.photobox__previewbox:before{
  content: "";
}

/* type 1 */

/*
.photobox_type1 .photobox__previewbox:before{
  width: 0;
  height: 0;
  padding: 25%;
  border-radius: 50%;
  
  position: absolute;
  top: 0;
  left: 0;

  background-color: var(--photoboxOverlay, rgba(0, 0, 0, .8));
  transition: transform calc(var(--photoboxAnimationDuration, .2s) / 2) ease calc(var(--photoboxAnimationDuration, .2s) / 2);
  will-change: transform;
  transform: scale(0);
}

.photobox_type1:hover .photobox__previewbox:before{
  transform: scale(2);
  transition-duration: var(--photoboxAnimationDuration, .2s);
  transition-delay: 0s;
}

.photobox_type1 .photobox__label{
  width: 50%;
  transform: translate(-200%, -50%);
  transition: transform var(--photoboxAnimationDuration, .2s) ease-out;
  will-change: transform;
  
  position: absolute;
  top: 50%;
  left: 15%;
}

.photobox_type1:hover .photobox__label{
  transition-duration: var(--photoboxAnimationDuration, .2s);
  transform: translate(0, -50%);
}

/* type 2*/
/*
.photobox_type2 .photobox__previewbox:before{
  width: 0;
  height: 0;
  padding: 25%;
  border-radius: 50%;
  
  position: absolute;
  top: 0;
  left: 0;

  background-color: var(--photoboxOverlay, rgba(0, 0, 0, .8));
  transition: transform calc(var(--photoboxAnimationDuration, .2s) / 2) ease calc(var(--photoboxAnimationDuration, .2s) / 2);
  will-change: transform;
  transform: scale(0);
}

.photobox_type2:hover .photobox__previewbox:before{
  transform: scale(2);
  transition-duration: var(--photoboxAnimationDuration, .2s);
  transition-delay: 0s;
}

.photobox_type2 .photobox__label{
  width: 50%;
  text-align: left;
  
  transform: translate(200%, -50%);
  transition: transform var(--photoboxAnimationDuration, .2s) ease-out;
  will-change: transform;
  
  position: absolute;
  top: 50%;
  right: 15%;
}

.photobox_type2:hover .photobox__label{
  transition-duration: var(--photoboxAnimationDuration, .2s);
  transform: translate(0, -50%);
}

/* type 3 */
/*
.photobox_type3 .photobox__previewbox:before{
  width: 100%;
  height: 100%;
  
  background-color: var(--photoboxOverlay, rgba(0, 0, 0, .8));
  opacity: 0;
  transition: opacity var(--photoboxAnimationDuration, .4s) cubic-bezier(0.71, 0.05, 0.29, 0.9);
  will-change: opacity;
  
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.photobox_type3:hover .photobox__previewbox:before{
  opacity: 1;
}

.photobox_type3 .photobox__label{
  width: 98%;
  text-align: center;
  
  opacity: 0;  
  transition: opacity calc(var(--photoboxAnimationDuration, .4s) / 4) cubic-bezier(0.71, 0.05, 0.29, 0.9);
  will-change: opacity;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.photobox_type3:hover .photobox__label{
  opacity: 1;
  transition-duration: var(--photoboxAnimationDuration, .4s);
  transition-delay: calc(var(--photoboxAnimationDuration, .4s) / 2);
}

.photobox_type3 .photobox__preview{
	transition: transform var(--photoboxAnimationDuration, .4s) cubic-bezier(0.71, 0.05, 0.29, 0.9);
  will-change: transform;
	transform: scale(1) rotate(0);
}

.photobox_type3:hover .photobox__preview{
  transform: scale(1.2) rotate(5deg);
}
*/

/* type 4 */

.photobox_type1 .photobox__previewbox:before{
  width: 100%;
  height: 100%;
  
  background-color: var(--photoboxOverlay, rgba(0, 0, 0, 0));
  opacity: 0;
  transition: opacity var(--photoboxAnimationDuration, .4s) cubic-bezier(0.71, 0.05, 0.29, 0.9);
  will-change: opacity;
  
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 2;
}

.photobox_type1:hover .photobox__previewbox:before{
  opacity: 1;
}

.photobox_type1 .photobox__label{
  width: 50%;
  text-align: center;
  
  opacity: 0;  
  transition: opacity calc(var(--photoboxAnimationDuration, .4s) / 4) cubic-bezier(0.71, 0.05, 0.29, 0.9), transform calc(var(--photoboxAnimationDuration, .4s) / 4) cubic-bezier(0.71, 0.05, 0.29, 0.9);
  will-change: opacity, transform;
  
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 200%);
  z-index: 2;
  color:white;
}

.photobox_type1:hover .photobox__label{
  opacity: 1;
  transform: translate(-50%, -50%);
  transition-duration: calc(var(--photoboxAnimationDuration, .4s) / 2);
  transition-delay: calc(var(--photoboxAnimationDuration, .4s) / 2);
}

.photobox_type1 .photobox__preview{
	transition: transform var(--photoboxAnimationDuration, .4s) cubic-bezier(0.71, 0.05, 0.29, 0.9);
  will-change: transform;
	transform: scale(1) rotate(0);
}

.photobox_type1:hover .photobox__preview{
  transform: scale(1.2) rotate(5deg);
}
/*
/* type 5 */
/*
.photobox_type5 .photobox__previewbox:before{
  width: 100%;
  height: 100%;
  
  background-color: var(--photoboxOverlay, rgba(0, 0, 0, .8));
  opacity: 0;
  transition: opacity var(--photoboxAnimationDuration, .4s) cubic-bezier(0.71, 0.05, 0.29, 0.9);
  will-change: opacity;
  
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.photobox_type5:hover .photobox__previewbox:before{
  opacity: 1;
}

.photobox_type5 .photobox__label{
  width: 95%;
  text-align: center;
  
  opacity: 0;  
  transition: opacity calc(var(--photoboxAnimationDuration, .4s) / 4) cubic-bezier(0.71, 0.05, 0.29, 0.9), transform calc(var(--photoboxAnimationDuration, .4s) / 4) cubic-bezier(0.71, 0.05, 0.29, 0.9);
  will-change: opacity, transform;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-200%, -50%);
  z-index: 2;
}

.photobox_type5:hover .photobox__label{
  opacity: 1;
  transform: translate(-50%, -50%);
  transition-duration: calc(var(--photoboxAnimationDuration, .4s) / 2);
  transition-delay: calc(var(--photoboxAnimationDuration, .4s) / 2);
}

.photobox_type5 .photobox__preview{
	transition: transform var(--photoboxAnimationDuration, .4s) cubic-bezier(0.71, 0.05, 0.29, 0.9);
  will-change: transform;
	transform: scale(1) rotate(0);
}

.photobox_type5:hover .photobox__preview{
  transform: scale(1.2) rotate(5deg);
}

/* type 6 */
/*
.photobox_type6 .photobox__previewbox:before{
  width: 0;
  height: 0;
  padding: 25%;
  
  background-color: var(--photoboxOverlay, rgba(0, 0, 0, .8));
  border-radius: 50%;
  
  position: absolute;
  top: 50%;
  left: 50%;

  transition: transform calc(var(--photoboxAnimationDuration, .8s) / 2) ease;
  will-change: transform;
  transform: translate(-50%, -50%) scale(0);
}

.photobox_type6:hover .photobox__previewbox:before{
  transform: translate(-50%, -50%) scale(4);
  transition-duration: var(--photoboxAnimationDuration, .8s);
}

.photobox_type6 .photobox__label{
  width: 95%;
  text-align: center;
  
  transform: translate(-200%, -50%);
  transition: transform calc(var(--photoboxAnimationDuration, .8s) / 2) ease-out;
  will-change: transform;
  
  position: absolute;
  top: 50%;
  left: 50%;
}

.photobox_type6:hover .photobox__label{
  transition-duration: calc(var(--photoboxAnimationDuration, .8s) / 4);
  transform: translate(-50%, -50%);
}

/* type 7 */
/*
.photobox_type7 .photobox__previewbox:before{
  width: 0;
  height: 0;
  padding: 25%;
  
  background-color: var(--photoboxOverlay, rgba(0, 0, 0, .8));
  border-radius: 50%;
  
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;

  transition: transform calc(var(--photoboxAnimationDuration, .8s) / 2) ease;
  will-change: transform;
  transform: translate(-50%, -50%) scale(0);
}

.photobox_type7:hover .photobox__previewbox:before{
  transform: translate(-50%, -50%) scale(4);
  transition-duration: var(--photoboxAnimationDuration, .8s);
}

.photobox_type7 .photobox__label{
  width: 95%;
  text-align: center;
  
  transform: translate(-200%, -50%);
  transition: transform calc(var(--photoboxAnimationDuration, .8s) / 2) ease-out;
  will-change: transform;
  
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
}

.photobox_type7:hover .photobox__label{
  transition-duration: calc(var(--photoboxAnimationDuration, .8s) / 4);
  transform: translate(-50%, -50%);
}

.photobox_type7 .photobox__preview{
	transition: transform calc(var(--photoboxAnimationDuration, .8s) / 2) cubic-bezier(0.71, 0.05, 0.29, 0.9);
  will-change: transform;
	transform: scale(1) rotate(0);
}

.photobox_type7:hover .photobox__preview{
  transform: scale(1.2) rotate(5deg);
}


.photobox{
  color: #fff;
  font-size: 2.5rem;
  font-weight: 700;
  width: 33.33333%;
  --photoboxOverlay: 	rgb(0,0,0,.5);
  --photoboxAnimationDuration: .5s;
}

@media screen and (max-width: 480px){
  .photobox{
    width: 100%;
  }
  .menu
  {
    width:100%;
  }
}

/*
=====
DEMO
=====
*/

@media (min-width: 768px){

  html{
    font-size: 62.5%;
  }
}

@media (max-width: 767px){

  html{
    font-size: 50%;
  }
}

body{
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
  font-size: 17px;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;   
  min-height: 100vh;
  display: flex;
  flex-direction: column;  
}

a{
  text-decoration: none;
  color: inherit;
}

a:hover, a:focus{
  text-decoration: none;
}

.page{
  flex-grow: 1;
  order: 1;
  margin-top: 0px;
}

.page__container{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
}

.h1 {
  color:white;
  font-family: 'Courier New', Courier, monospace;
  font-weight:400;
  letter-spacing: 2px;
  line-height: 1;
}

.p {
  margin-top:-15px;
}
 