.App {
  height: 100vh;
  display: flex;
  color: white;
  padding-top:140px;
  padding-bottom:50px;
}

.AppAside {
  width: 50%;
  background-image: url("../forRess.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.AppForm {
  width: 50%;
  background-color: rgb(0, 0, 51);
  padding: 25px 40px;
  overflow: auto;
}
.FormCenter {
    margin-bottom: 100px;
  }
  
  .FormTitle {
    color: #707C8B;
    font-weight: 300;
    margin-bottom: 50px;
  }
  
  .FormField {
    margin-bottom: 40px;
  }
  
  .FormLabel {
    display: block;
    text-transform: uppercase;
    font-size: .9em;
    color: white;
  }
  
  .FormInput {
    width: 85%;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 0px solid #445366;
    font-size: 1em;
    font-weight: 300;
    padding-bottom: 10px;
    margin-top: 10px;
    color:white;
  }
  
  .FormField__Input::placeholder {
    color: rgb(134, 82, 33);
  }
  
  .FormButton {
    background-color: #52C4B9;
    color: white;
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 15px 70px;
    font-size: .8em;
    font-weight: 500;
  }

  input[type="date"]::-webkit-clear-button {
    display:none;
  }

  input[type="date"]::-webkit-inner-spin-button {
    display:none;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    color:#2e3c50;
  }

  input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    color:#707C8B;
    font-family: Arial, Helvetica, sans-serif;
    padding:5px;
    display:inline-block !important;
    visibility: visible !important;
  }

  input[type="date"], focus{
    color:#707C8B;
    box-shadow: none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
  }