
h2  {
    color: black;
    display:block;
    font-family: Lato,Open Sans ,Arial, Helvetica, sans-serif;
    font-size:28px;
    font-weight: 800;
    line-height: 33.6px;
    margin-block-end: 4px;
    margin-block-start: 0px;
    margin-bottom: 4px;
    text-size-adjust: 100%;
    visibility: visible;
}
h5 {
    color:black;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 22.8px;
    text-size-adjust: 100%;
    visibility: visible;
    margin-left:20px;
}
.img {
    width: 60%;
    padding: 20px;
    height: 430px;
    margin-left:10px;
}

.card {
    padding: 20px;
    margin-top: 5px;
    border: 0px solid black;
    position: relative;
    box-sizing: border-box;
    padding-top: 145px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    max-width: 920px;
}
.addcom {
    box-sizing: border-box;
    padding-left:20px;
}
.blog {
    display:flex;
    flex-direction: column;
    margin:auto;
    width:80%;
}