.card{
    box-sizing: border-box; 
    text-align: center;
    margin: auto;
    width : 70%;
    min-height: 1500px;
}

.img {
    max-width: 264px;
    max-height: 264px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    float: left;
    padding:40px;
}