.border {
  border: 1px solid #ddd;
  padding: 8px;
}
.container{
margin-left:10%;
margin-top: 60px;
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}
.th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}